  /* Adobe Colors
        #2A3740
        #736D63
        #F2BC79
        #D9A171
        #A68263
         */

         body {
            background-color: #2A3740;
            color: #D9A171;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 100px;
        }

        h1 {
            margin: auto;
            text-align: center;
            
        }

        section {
            border-radius: 20px;
            background-color: #fff;
            padding: 50px;
            margin: 50px auto;
            width: 500px;
            box-shadow: 2px 4px 2px #000;
        }

        div {
            margin-bottom: 10px;
        }

        footer {
            margin: auto;
        }

        footer > p {
            text-align: center;
            font-style: italic;
        }

        a {
            color: #D9A171;
            text-decoration: none;
        }